DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production
ALLOWED_HOSTS=*
FRONTEND_URL=http://localhost:5173

JWT_SECRET_KEY=change_this_to_a_long_random_string
JWT_EXPIRES_DAYS=5
COOKIE_EXPIRE_DAYS=5
COOKIE_SAMESITE=Lax
COOKIE_SECURE=False

CLOUDINARY_CLIENT_NAME=your_cloud_name
CLOUDINARY_CLIENT_API=your_api_key
CLOUDINARY_CLIENT_SECRET=your_api_secret

DATABASE_URL=
